/include/ "system-conf.dtsi"
/include/ "pcie.dtsi"
/ {
	chosen {
		 bootargs = "console=ttyAMA0 earlycon=pl011,mmio32,0xFF000000,115200n8 clk_ignore_unused root=/dev/mmcblk0p2 rw rootwait";
		stdout-path = "serial0:115200";
	};
};
&amba {
	zyxclmm_drm {
		compatible = "xlnx,zocl-versal";
		status = "okay";
	};
};
&pcie_reg_space_v1_0_0 {
    interrupt-parent = <&gic>;
    interrupts = <0x0 84 0x4 0x0 85 0x4 0x0 86 0x4 >;
    interrupt-names = "read", "write", "close";
};
#include "pl-custom.dtsi"
